.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.filter-title {
    font-size: 20px;
    color: #424242;
    font-weight: 700;
}

.filter-normal-text {
    font-size: 16px;
    color: #505050
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E6E6E6;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.slider:before {
    position: absolute;
    content: url("../../assets/Images/close.svg");
    height: 24px;
    width: 24px;
    left: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border: 1px solid #979797;
}

input:checked+.slider {
    background-color: #00d170;
}



input:checked+.slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
    /* content: url("../../assets/Images/tickMark.svg"); */
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

.container-btn {
    display: flex;
    gap: 16px;
    padding: 0 24px 8px;
    box-sizing: border-box;

}

.delete-btn {
    flex: 1;
    width: 100%;
    border: 1px solid #424242;
    border-radius: 6px;
    color: #424242;
    font-size: 17px;
    font-weight: 700;
    font-family: iranSansX;
    height: 48px;
    background-color: #fff;
}

.action-btn {
    font-family: iranSansX;
    flex: 1;
    width: 100%;
    background-color: rgb(255, 102, 31);
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    border: 1px solid rgb(255, 102, 31);
    border-radius: 3px;
    height: 48px;
}