.header-container {
    display: flex;
    /* position: relative; */
    background-color: rgba(255, 255, 255, 0);
    width: 100vw;
    height: 65px;
    padding: 20px;
}

.back-icon {
    width: 24px;
    height: 24px;
}

.express-logo {
    width: 64px;
    height: 32px;
    position: absolute;
    left: 50%;
    /* top: 20; */
    transform: translate(-50%);
}

.children-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
}