.scrollable-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 68px;
    background-color: #f8f9fb;
    scroll-behavior: smooth;
}

.scrollable-container::-webkit-scrollbar {
    display: none;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 6px;
    margin-left: 8px;
    width: fit-content;
    height: 52px;
    padding: 0 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    color: #505050;
    font-size: 12px;
}

.item:first-child {
    margin-right: 8px;
}

.selected {
    border: 1px solid #22a958;
    color: #22a958;
}

.product-name {
    margin-left: 4px;
}