.search-and-sort-container {
    display: flex;
    padding: 16px 20px;
    border-bottom: 1px solid #e6e6e6;
}

.search-icon {
    width: 24px;
    height: 24px;
    flex: 1;
}

.sort-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    flex: 1;
}